<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="card-deck mx-auto">


    <!-- Top Row -->
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
</div>
<!-- Top Row - End -->

<br>
<br>

<!-- Bottom Row  -->
<div class="card-deck mx-auto">
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/images/underconstruction.jpg" alt="Under Construction" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">Game Under Construction</h5>
            <p class="card-text">About this game that is under construction</p>
        </div>
    </div>
</div>
<!-- Bottom Row - End -->

{% endblock %}