<!-- navbar.html -->

<nav class="navbar navbar-light bg-light">
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-text">
          {% if current_user.is_active %}
              {% if current_user.fname %}
              <h3>Welcome {{current_user.fname}}!</h3>
              {% else %}
              <h3>Welcome {{current_user.uname}}!</h3>
              {% endif %}
          {% else %}
              <h3>Please Sign In!</h3>
          {% endif %}
        </span>
      </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Account Settings</a>
          <a href="#" class="dropdown-item">Themes</a>
        </div>
      </li>
      <li class="nav-item">
        {% if current_user.is_active %}
        <a href="/user/logout" class="nav-link">Log Out</a>
        {% else %}
        <a href="/user/signin" class="nav-link">Log In</a>
        {% endif %}
      </li>
    </ul>
  </nav>