<!-- navbar.html -->

<nav class="navbar navbar-light bg-light">
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-text">
          <h3>Welcome {USER}!</h3>
        </span>
      </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Account Settings</a>
          <a href="#" class="dropdown-item">Themes</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/user/signin" class="nav-link">Log In</a>
      </li>
    </ul>
  </nav>